@font-face {
    font-family: Cormorant;
    src: url(Cormorant-VariableFont_wght.ttf);
}

@font-face {
    font-family: Cormorant-Italic;
    src: url(Cormorant-Italic-VariableFont_wght.ttf);
}

.title {
    font-family: Cormorant-Italic;
    font-size: 2.2em;
}

a {
    text-decoration: none;
    color: #645956;
}

body {
    background-color: #f9ece6;
    background-position: 0 0;
    background-size: 100px 100px;
    font-family: Cormorant;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
 }

.item {
    font-size: 1.54em;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.footer-item {
    padding-right: 5%;
    font-size: 1.54em;
}

@media screen and (min-width: 1000px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .item {
        width: 35%;
        margin-top: 2%;
        font-size: 0.95em;
     }

     .footer-item {
        font-size: 0.95em;
     }
}